body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 50px;
  font-weight: 700;
}
h2 {
  font-size: 40px;
}
p,
h1,h2 {
  color: #555;
}

.button {
  padding: 15px 35px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 20px;
  background-image: linear-gradient(to right, #fb9b4f, #fe4b2f);
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
}

/* ####################  Header Section #################### */
.header-section{
  margin-bottom: 50px;
}
.flexible {
  display: flex;
}
.half-width {
  width: 50%;
  margin-left: 2%;
}

.header-text {
  width: 80%;
  margin-left: 10%;
  margin-top: 20%;
}
.header-text h1 {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}

.header-text p {
  margin-top: 0px;
}
.title-word {
  font-size: 70px;
  color: #fc753e;
}

.header-img {
  width: 90%;
}


/*################### About section ##########*/
.about-section{
  background-image: url(/image/shape/7.png);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-img{
  display: inline-block;
  width: 300px; 
  height: 90%;
  margin-top: 50px;
  margin-left: 30%;
}
.about-text{
  margin-top: 20%;
  width: 70%;
}
.about-text p{
  margin-bottom: 10%;
}